<form [formGroup]="myForm" novalidate (ngSubmit)="save(myFrom.value, myFrom.valid)">

		<div class="form-group">
			<label for="">Name</label>
			Dr.<input type="text" class="form-control" formControlName="register_name">
			
		</div>
		<div class="form-group">
			<label for="">Email</label>
			<input type="text" class="form-control" formControlName="register_email">
			
		</div>

		<div class="form-group">
			<label for="">password</label>
			<input type="password" class="form-control" formControlName="register_password">
			
		</div>
		<div class="form-group">
			<label for="">Confirm password</label>
			<input type="password" class="form-control" formControlName="register_confirm_password">
			
		</div>
		<div class="form-group">
			<label for="">Phone Number</label>
			<input type="text" class="form-control" formControlName="register_phone">
			
		</div>
		<div class="form-group">
			<label for="">Medical Registration Number</label>
			<input type="text" class="form-control" formControlName="register_med_number">
			
		</div>

		<button type="submit"[disabled]="!isPasswordMatch()">Sign up</button>

		<br>
		testing
		<pre> valid? <br>{{myForm.valid |json}}</pre>
		<pre>Value<br>{{myForm.value |json}}</pre>
	</form>